body{
    padding-top: 70px;
}

.nav-gravatar{
    float    : left;
    position : relative;
    top      : -6px;
    left     : -10px;
    border   : 1px solid #555;
}

.container h1:first-of-type
{
    margin-top:0px;
}

// The publish status area
.status-post{
    border     : 1px solid #E3E3E3;
    background : white;
    margin-bottom: 3em;
    padding: 0;

    textarea{
        border: none;

        &:focus{
            box-shadow: none;
        }
    }

    .status-post-submit{
        border-top: 1px solid #E9E9E9;
        padding: .5em 1em;
        margin-bottom: 0;
        overflow: hidden;

        .btn{
            float:right;
        }
    }
}

// Each individual status
.status-media{
    border: 1px solid #E3E3E3;
    background: white;
    padding : 1em;
    margin-bottom: 2em;
}

// Users list
.users{
    margin-bottom: 3em;
}
.user-block{
    text-align: center;

    .avatar{
        margin: auto;
        width:70px;
    }
}