// Each individual status
.status-media, .comment-media
{
    border        : 1px solid #E3E3E3;
    background    : white;
    padding       : 1em;
    border-bottom: none;
}

.status-media-heading, .comment-media-heading
{
    color    : rgb(64, 157, 209);
    position : relative;
}

.status-media-body
{
    color     : #B3BAC0;
    font-size : 1.5em;
    p{
        padding: 1em 0;
    }
}

.comment-media-body{
    color:     #B3BAC0;
    font-size: 1em;
    p{
        padding: 1em 0;
    }
}

.comments__create-form textarea {
        border: 1px solid #E3E3E3;
        border-top: none;
        border-radius: 0;
}

.status-media-object
{
    position : relative;
    top      : 0;
    border   : 1px solid rgb(238, 238, 238);
}

.status-media-time
{
    text-transform : lowercase;
    font-size      : 0.6em;
    color          : rgb(204, 208, 211);
    display: block;
}

// The form to publish a new status
.status-post
{
    border        : 1px solid #E3E3E3;
    background    : white;
    margin-bottom : 3em;
    padding       : 0;

    textarea
    {
        border : none;

        &:focus
        {
            box-shadow : none;
        }
    }

    .status-post-submit
    {
        border-top    : 1px solid #E9E9E9;
        padding       : .5em 1em;
        margin-bottom : 0;
        overflow      : hidden;
        background    : #FDFCFC;

        .btn
        {
            float          : right;
            background     : rgb(46, 177, 228);
            color          : white;
            text-transform : uppercase;
            letter-spacing : 0.06em;
            font-family    : helvetica;

            &:hover
            {
                background : rgb(39, 144, 177);
            }
        }

    }
}

.comments{
    margin-bottom: 5em;
}

.comments__comment{
    background: darken(white, 5%);
    margin-top: 0;
    border: 1px solid darken(white, 15%);
    border-bottom: 1px solid #E3E3E3;
}